.careers {
  position: relative;
  width: 100%;
  padding: 62px 0;
  background-image: url("../../images/background__image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 203px;
    height: 63px;
    right: 0;
    bottom: 62px;
    background-image: url("../../icons/triple__circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__container {
    @include df-row-start-center;
  }
  &__title {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
  }
}
@media (max-width: 1024px) {
  .careers {
    position: relative;
    width: 100%;
    padding: 72px 0;
    background-image: url("../../images/background__tb-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      position: absolute;
      content: "";
      display: none;
      width: 203px;
      height: 63px;
      right: 0;
      bottom: 62px;
      background-image: url("../../icons/triple__circles.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &__container {
      @include df-row-start-center;
      padding-right: 38px;
      padding-left: 38px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
  }
}
@media (max-width: 767px) {
  .careers {
    width: 100%;
    padding: 60px 0;
    background-image: url("../../images/background__mb-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: none;
      width: 203px;
      height: 63px;
      right: 0;
      bottom: 62px;
      background-image: url("../../icons/triple__circles.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &__container {
      @include df-row-center-center;
      padding-right: 24px;
      padding-left: 24px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.79px;
      color: $white;
    }
  }
}