.card {
  margin-top: 120px;
  &__container {
    @include df-column-center-center;
    gap: 24px;
  }
  &__boxes {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    @include df-row-between-center;
    background-color: $snow;
  }
  &__mini-boxes {
    @include df-column-center-start;
  }
  &__titles {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    color: $dark__navy;
    margin-bottom: 8px;
  }
  &__texts {
    font-family: "Lexend Deca";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    color: $dark__navy;
  }
  &__buttons {
    padding: 14px 67px;
    background-color: $yellow;
    color: $white;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border: 2px solid $yellow;
    letter-spacing: 0px;
    cursor: pointer;
    @include df-row-center-center;
    transition: 100ms ease all;
    &:active {
      transition: 100ms ease all;
      color: $yellow;
      background-color: inherit;
    }
  }
}
@media (max-width: 1024px) {
  .card {
    margin-top: 120px;
    &__container {
      padding-left: 38px;
      padding-right: 38px;
      @include df-column-center-center;
      gap: 16px;
    }
    &__boxes {
      padding-left: 48px;
      padding-right: 48px;
      padding-top: 34px;
      padding-bottom: 34px;
      width: 100%;
      @include df-row-between-center;
      background-color: $snow;
    }
    &__mini-boxes {
      @include df-column-center-start;
    }
    &__titles {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      color: $dark__navy;
      margin-bottom: 8px;
    }
    &__texts {
      font-family: "Lexend Deca";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0;
      color: $dark__navy;
    }
    &__buttons {
      padding: 14px 67px;
      background-color: $yellow;
      color: $white;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      border: 2px solid $yellow;
      letter-spacing: 0px;
      cursor: pointer;
      @include df-row-center-center;
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        color: $yellow;
        background-color: inherit;
      }
    }
  }
}
@media (max-width: 767px) {
  .card {
    margin-top: 145px;
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      @include df-column-center-center;
      gap: 16px;
    }
    &__boxes {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 36px;
      padding-bottom: 32px;
      width: 100%;
      @include df-column-center-center;
      background-color: $snow;
    }
    &__mini-boxes {
      @include df-column-center-center;
    }
    &__titles {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.8px;
      color: $dark__navy;
      margin-bottom: 4px;
    }
    &__texts {
      font-family: "Lexend Deca";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0;
      color: $dark__navy;
      margin-bottom: 16px;
    }
    &__buttons {
      width: 100%;
      padding: 14px 61px;
      background-color: $yellow;
      color: $white;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      border: 2px solid $yellow;
      letter-spacing: 0px;
      cursor: pointer;
      @include df-row-center-center;
      transition: 100ms ease all;
      &:active {
        transition: 100ms ease all;
        color: $yellow;
        background-color: inherit;
      }
    }
  }
}