.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $second__dark-navy;
  &__container {
    @include df-row-between-center;
    gap: 0px;
  }
  &__left-box {
    @include df-row-center-center;
    gap: 58.18px;
  }
  &__logo-link {
    transition: 200ms ease all;
    &:active {
      transition: 200ms ease all;
      opacity: 0.5;
    }
  }
  &__logo-image {
    width: 107.82px;
    height: 28.56;
    display: block;
  }
  &__list {
    @include df-row-center-center;
    gap: 32px;
  }
  &__links-texts {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $dim__grey;
  }
  &__icon-boxes {
    @include df-row-center-center;
    gap: 24px;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $second__dark-navy;
    &__container {
      padding-right: 38px;
      padding-left: 38px;
      @include df-row-between-center;
      gap: 0px;
    }
    &__left-box {
      @include df-row-center-center;
      gap: 58.18px;
    }
    &__logo-link {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__logo-image {
      width: 107.82px;
      height: 28.56px;
      display: block;
    }
    &__list {
      @include df-row-center-center;
      gap: 32px;
    }

    &__links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__icon-boxes {
      @include df-row-center-center;
      gap: 24px;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 88px;
    background-color: $second__dark-navy;
    &__container {
      padding-right: 24px;
      padding-left: 24px;
      @include df-column-center-center;
      gap: 85px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 41px;
    }
    &__logo-link {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__logo-image {
      width: 107.82px;
      height: 28.56;
      display: block;
    }
    &__list {
      @include df-column-center-center;
      gap: 16px;
    }

    &__links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__icon-boxes {
      @include df-row-center-center;
      gap: 24px;
    }
  }
}