.header {
  background-color: $white;
  box-shadow: rgba(252, 182, 43, 0.753) 0px 5px 15px;
  z-index: 1111;
  top: 0;
  position: fixed;
  width: 100%;
  &__container {
    padding-top: 22px;
    padding-bottom: 22px;
    @include df-row-between-center;
  }
  &__open-burger-hidden {
    display: none;
    border: none;
    background: none;
    outline: none;
  }
  &__open-burger-icon-hidden {
    width: 20px;
    height: 16px;
    display: none;
    opacity: 0;
  }
  &__left-box {
    @include df-row-center-center;
    gap: 58.18px;
  }
  &__logo-link {
    transition: 200ms ease all;
    &:active {
      transition: 200ms ease all;
      opacity: 0.5;
    }
  }
  &__logo-image {
    display: block;
  }
  &__nav {
  }
  &__list {
    @include df-row-center-center;
    gap: 32px;
  }
  &__lists {
  }
  &__links {
  }
  &__links-texts {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $dim__grey;
  }
  &__button {
    @include template__button;
  }
  &__open-burger {
    display: none;
    border: none;
    background: none;
    outline: none;
  }
  &__open-burger-icon {
    width: 20px;
    height: 16px;
    display: none;
  }
  &__close-burger {
    display: none;
    border: none;
    background: none;
    outline: none;
  }
  &__close-burger-icon {
    width: 20px;
    height: 16px;
    display: none;
  }
  &__mb-div {
    opacity: 0;
    transition: 500ms ease all;
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 79px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
  }
  &__mb-nav {
    transition: 500ms ease all;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    padding: 64px 32px 104px 32px;
    z-index: 2;
    top: 0px;
    left: 0;
    width: 85%;
    height: 100vh;
    background-color: #333a44;
  }
  &__mb-list {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
  }
  &__mb-lists {
    display: none;
  }
  &__mb-links {
    display: none;
  }
  &__mb-links-texts {
    display: none;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $light__yellow;
  }
  &__mb-button {
    display: none;
    @include template__button;
  }
}
@media (max-width: 1024px) {
  .header {
    background-color: $white;
    box-shadow: rgba(252, 182, 43, 0.753) 0px 5px 15px;
    z-index: 1111;
    top: 0;
    position: fixed;
    width: 100%;
    &__container {
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 38px;
      padding-right: 38px;
      @include df-row-between-center;
    }
    &__open-burger-hidden {
      display: none;
      border: none;
      background: none;
      outline: none;
    }
    &__open-burger-icon-hidden {
      width: 20px;
      height: 16px;
      display: none;
      opacity: 0;
    }
    &__left-box {
      @include df-row-center-center;
      gap: 58.18px;
    }
    &__logo-link {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__logo-image {
      display: block;
    }
    &__nav {
    }
    &__list {
      @include df-row-center-center;
      gap: 32px;
    }
    &__lists {
    }
    &__links {
    }
    &__links-texts {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__button {
      @include template__button;
    }
    &__open-burger {
      display: none;
      border: none;
      background: none;
      outline: none;
    }
    &__open-burger-icon {
      width: 20px;
      height: 16px;
      display: none;
    }
    &__close-burger {
      display: none;
      border: none;
      background: none;
      outline: none;
    }
    &__close-burger-icon {
      width: 20px;
      height: 16px;
      display: none;
    }
    &__mb-div {
      opacity: 0;
      transition: 500ms ease all;
      z-index: -1;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 79px;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.5);
    }
    &__mb-nav {
      transition: 500ms ease all;
      z-index: 3;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      position: fixed;
      padding: 64px 32px 104px 32px;
      z-index: 2;
      top: 0px;
      left: 0;
      width: 85%;
      height: 100vh;
      background-color: #333a44;
    }
    &__mb-list {
      display: none;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 24px;
    }
    &__mb-lists {
      display: none;
    }
    &__mb-links {
      display: none;
    }
    &__mb-links-texts {
      display: none;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $light__yellow;
    }
    &__mb-button {
      display: none;
      @include template__button;
    }
  }
}
@media (max-width: 767px) {
  .header {
    background-color: $white;
    box-shadow: rgba(252, 182, 43, 0.753) 0px 5px 15px;
    z-index: 1111;
    top: 0;
    position: fixed;
    width: 100%;
    &__container {
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 24px;
      padding-right: 24px;
      @include df-row-reverse-between-center;
    }
    &__open-burger-hidden {
      display: block;
      border: none;
      background: none;
      outline: none;
    }
    &__open-burger-icon-hidden {
      width: 20px;
      height: 16px;
      display: block;
      opacity: 0;
    }
    &__left-box {
    }
    &__logo-link {
    }
    &__logo-image {
    }
    &__nav {
      display: none;
    }
    &__list {
      display: none;
    }
    &__lists {
      display: none;
    }
    &__links {
      display: none;
    }
    &__links-texts {
      display: none;
    }
    &__button {
      display: none;
    }
    &__open-burger {
      display: block;
      border: none;
      background: none;
      outline: none;
    }
    &__open-burger-icon {
      width: 20px;
      height: 16px;
      display: block;
    }
    &__close-burger {
      display: block;
      border: none;
      background: none;
      outline: none;
      display: none;
    }
    &__close-burger-icon {
      width: 20px;
      height: 16px;
      display: block;
    }
    &__mb-div {
      opacity: 0;
      transition: 500ms ease all;
      z-index: -1;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 73px;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.5);
    }
    &__mb-nav {
      transition: 500ms ease all;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      position: fixed;
      padding: 64px 32px 104px 32px;
      z-index: 2;
      top: 0px;
      left: 0;
      width: 85%;
      height: 100vh;
      background-color: #333a44;
    }
    &__mb-list {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 24px;
    }
    &__mb-lists {
      display: block;
    }
    &__mb-links {
      display: block;
    }
    &__mb-links-texts {
      display: block;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $light__yellow;
    }
    &__mb-button {
      @include template__button;
    }
  }
}