.hero {
  position: relative;
  width: 100%;
  background-image: url("../../images/hero__background-image.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    display: inline-block;
    width: 203px;
    height: 15px;
    bottom: 315px;
    left: -60px;
    background-image: url("../../icons/hero__path.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    display: inline-block;
    width: 452px;
    height: 151px;
    bottom: 180px;
    right: 300px;
    background-image: url("../../icons/hero__vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    @include df-column-center-start;
    padding-top: 153px;
    padding-bottom: 152px;
    gap: 40px;
  }
  &__box {
    width: 500px;
    @include df-column-center-start;
    gap: 40px;
  }
  &__title {
    width: 500px;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
    text-align: start;
  }
  &__mini-box {
    margin-left: auto;
    @include df-column-center-start;
    gap: 40px;
  }
  &__text {
    width: 405px;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $white;
    text-align: start;
  }
  &__button {
    @include template__button;
  }
}
@media (max-width: 1316px) {
  .hero {
    position: relative;
    width: 100%;
    background-image: url("../../images/hero__background-image.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 203px;
      height: 15px;
      bottom: 315px;
      left: -100px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 452px;
      height: 151px;
      bottom: 180px;
      right: 200px;
      background-image: url("../../icons/hero__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-start;
      padding-top: 153px;
      padding-bottom: 152px;
      gap: 40px;
    }
    &__box {
      width: 500px;
      @include df-column-center-start;
      gap: 40px;
    }
    &__title {
      width: 500px;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
      text-align: start;
    }
    &__mini-box {
      margin-left: auto;
      @include df-column-center-start;
      gap: 40px;
    }
    &__text {
      width: 405px;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      text-align: start;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 1192px) {
  .hero {
    position: relative;
    width: 100%;
    background-image: url("../../images/hero__background-image.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 203px;
      height: 15px;
      bottom: 315px;
      left: -100px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 452px;
      height: 151px;
      bottom: 180px;
      right: 100px;
      background-image: url("../../icons/hero__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-start;
      padding-top: 153px;
      padding-bottom: 152px;
      gap: 40px;
    }
    &__box {
      width: 500px;
      @include df-column-center-start;
      gap: 40px;
    }
    &__title {
      width: 500px;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
      text-align: start;
    }
    &__mini-box {
      margin-left: auto;
      @include df-column-center-start;
      gap: 40px;
    }
    &__text {
      width: 405px;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      text-align: start;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 1088px) {
  .hero {
    position: relative;
    width: 100%;
    background-image: url("../../images/hero__background-image.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 203px;
      height: 15px;
      bottom: 315px;
      left: -100px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 452px;
      height: 151px;
      bottom: 180px;
      right: 40px;
      background-image: url("../../icons/hero__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-start;
      padding-top: 153px;
      padding-bottom: 152px;
      gap: 40px;
    }
    &__box {
      width: 500px;
      @include df-column-center-start;
      gap: 40px;
    }
    &__title {
      width: 500px;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
      text-align: start;
    }
    &__mini-box {
      margin-left: auto;
      @include df-column-center-start;
      gap: 40px;
    }
    &__text {
      width: 405px;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      text-align: start;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 1024px) {
  .hero {
    position: relative;
    width: 100%;
    background-image: url("../../images/hero__tb-background-image.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: none;
      width: 203px;
      height: 15px;
      bottom: 0px;
      left: -60px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 325px;
      height: 151px;
      bottom: 40px;
      left: 0;
      background-image: url("../../icons/hero__tb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-center;
      padding-top: 137px;
      padding-bottom: 217px;
      padding-right: 38px;
      padding-left: 38px;
      gap: 24px;
    }
    &__box {
      width: auto;
      @include df-column-center-center;
      gap: 24px;
    }
    &__title {
      width: 573px;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
      text-align: center;
    }
    &__mini-box {
      @include df-column-center-center;
      gap: 32px;
    }
    &__text {
      width: 573px;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      text-align: center;
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 767px) {
  .hero {
    position: relative;
    width: 100%;
    background-image: url("../../images/hero__mb-background-image.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: none;
      width: 203px;
      height: 15px;
      bottom: 0px;
      left: -60px;
      background-image: url("../../icons/hero__path.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 140px;
      height: 151px;
      bottom: 35px;
      left: 0;
      background-image: url("../../icons/hero__mb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-center;
      padding-top: 115px;
      padding-bottom: 179px;
      padding-right: 24px;
      padding-left: 24px;
      gap: 24px;
    }
    &__box {
      @include df-column-center-center;
      gap: 34px;
    }
    &__title {
      width: 100%;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.79px;
      color: $white;
      text-align: center;
    }
    &__mini-box {
      @include df-column-center-center;
      gap: 32px;
    }
    &__text {
      width: 100%;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $white;
      text-align: center;
    }
    &__button {
      @include template__button;
    }
  }
}