.join {
  padding-top: 120px;
  &__container {
    @include df-column-center-center;
    gap: 103px;
  }
  &__title {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: $dark__navy;
  }
  &__box {
    width: 100%;
    @include df-row-between-center;
  }
  &__boxes {
    @include df-column-center-center;
  }
  &__images {
    width: 240px;
    height: 295px;
    margin-bottom: 32px;
  }
  &__titles {
    font-family: "Space Mono";
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    color: $dark__navy;
  }
  &__texts {
    width: 350px;
    text-align: center;
    font-family: "Lexend Deca";
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $dim__grey;
  }
}
@media (max-width: 1160px) {
  .join {
    padding-top: 120px;
    &__container {
      @include df-column-center-center;
      gap: 103px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__box {
      width: 100%;
      @include df-row-between-center;
    }
    &__boxes {
      @include df-column-center-center;
    }
    &__images {
      object-fit: contain;
      width: 240px;
      height: 288px;
      margin-bottom: 32px;
    }
    &__titles {
      font-family: "Space Mono";
      margin-bottom: 27px;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      color: $dark__navy;
    }
    &__texts {
      width: 300px;
      text-align: center;
      font-family: "Lexend Deca";
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
  }
}
@media (max-width: 1024px) {
  .join {
    padding-top: 120px;
    &__container {
      padding-left: 38px;
      padding-right: 38px;
      @include df-column-center-center;
      gap: 105px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__box {
      @include df-column-center-center;
      gap: 55px;
    }
    &__boxes {
      @include df-column-center-center;
    }
    &__images {
      width: 240px;
      height: 350px;
      margin-bottom: 32px;
    }
    &__titles {
      font-family: "Space Mono";
      margin-bottom: 27px;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      color: $dark__navy;
    }
    &__texts {
      width: 457px;
      text-align: center;
      font-family: "Lexend Deca";
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
  }
}
@media (max-width: 767px) {
  .join {
    padding-top: 120px;
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      @include df-column-center-center;
      gap: 64px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.43px;
      color: $dark__navy;
    }
    &__box {
      @include df-column-center-center;
      gap: 56px;
    }
    &__boxes {
      @include df-column-center-center;
    }
    &__images {
      width: 240px;
      height: 288px;
      margin-bottom: 32px;
    }
    &__titles {
      font-family: "Space Mono";
      margin-bottom: 27px;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07px;
      color: $dark__navy;
    }
    &__texts {
      width: 100%;
      text-align: center;
      font-family: "Lexend Deca";
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
  }
}