.message {
  margin-top: 100px;
  &__container {
    @include df-row-between-center;
  }
  &__title {
    width: 351px;
    text-align: start;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: $dark__navy;
    font-family: "Space Mono";
  }
  &__text {
    width: 445px;
    text-align: start;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $dim__grey;
    font-family: "Lexend Deca";
  }
  &__button {
    @include template__button;
  }
}
@media (max-width: 1120px) {
  .message {
    margin-top: 100px;
    &__container {
      @include df-row-between-center;
    }
    &__title {
      width: 351px;
      text-align: start;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
      font-family: "Space Mono";
    }
    &__text {
      width: 345px;
      text-align: start;
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
      font-family: "Lexend Deca";
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 1024px) {
  .message {
    margin-top: 64px;
    &__container {
      padding-left: 38px;
      padding-right: 38px;
      @include df-column-center-center;
      gap: 40px;
    }
    &__title {
      width: 457px;
      text-align: center;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
      font-family: "Space Mono";
    }
    &__text {
      width: 573px;
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
      font-family: "Lexend Deca";
    }
    &__button {
      @include template__button;
    }
  }
}
@media (max-width: 767px) {
  .message {
    margin-top: 72px;
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      @include df-column-center-center;
      gap: 32px;
    }
    &__title {
      width: 311px;
      text-align: center;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.43px;
      color: $dark__navy;
      font-family: "Space Mono";
    }
    &__text {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
      font-family: "Lexend Deca";
    }
    &__button {
      @include template__button;
    }
  }
}