.sign {
  margin-top: 200px;
  padding: 102px 0;
  background-color: $dark__navy;
  position: relative;
  z-index: 2;
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 158px;
    bottom: 0;
    background-image: url("../../icons/sign__tb-vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    @include df-row-between-center;
  }
  &__right-box {
    @include df-row-center-center;
    gap: 13px;
  }
  &__title {
    font-family: "Space Mono";
    font-size: 48px;
    line-height: 48px;
    color: $white;
    width: 415px;
    text-align: start;
    letter-spacing: -2.14px;
  }
  &__image-links {
    transition: 200ms ease all;
    &:active {
      transition: 200ms ease all;
      opacity: 0.5;
    }
  }
  &__icon-image {
    display: block;
  }
}
@media (max-width: 1024px) {
  .sign {
    margin-top: 104px;
    padding: 62px 0;
    background-color: $dark__navy;
    position: relative;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 100%;
      height: 158px;
      bottom: 0;
      background-image: url("../../icons/sign__tb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-center;
      padding-right: 38px;
      padding-left: 38px;
      gap: 40px;
    }
    &__right-box {
      @include df-row-center-center;
      gap: 13px;
    }
    &__title {
      font-family: "Space Mono";
      font-size: 48px;
      line-height: 48px;
      color: $white;
      width: 457px;
      text-align: center;
      letter-spacing: -2.14px;
    }
    &__image-links {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__icon-image {
      display: block;
    }
  }
}
@media (max-width: 767px) {
  .sign {
    margin-top: 120px;
    padding: 88px 0;
    background-color: $dark__navy;
    position: relative;
    z-index: 2;
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: inline-block;
      width: 100%;
      height: 181px;
      bottom: 0;
      background-image: url("../../icons/sign__mb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-center-center;
      padding-right: 24px;
      padding-left: 24px;
      gap: 40px;
    }
    &__right-box {
      @include df-row-center-center;
      gap: 13px;
    }
    &__title {
      font-family: "Space Mono";
      font-size: 32px;
      line-height: 32px;
      color: $white;
      width: 100%;
      text-align: center;
      letter-spacing: -1.43px;
    }
    &__image-links {
      transition: 200ms ease all;
      &:active {
        transition: 200ms ease all;
        opacity: 0.5;
      }
    }
    &__icon-image {
      display: block;
    }
  }
}