.urban {
  padding-top: 120px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 356px;
    height: 151px;
    top: 100px;
    left: 0;
    background-image: url("../../icons/urban__vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    width: 95px;
    height: 445px;
    top: 120px;
    left: 0;
    background-image: url("../../icons/easy__mask.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
  }
  &__container {
    @include df-row-reverse-between-center;
  }
  &__left-box {
    @include df-column-center-start;
    gap: 24px;
  }
  &__title {
    width: 445px;
    text-align: start;
    font-family: "Space Mono";
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: $dark__navy;
  }
  &__text {
    width: 445px;
    text-align: start;
    font-family: "Lexend Deca";
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: 0px;
    color: $dim__grey;
    margin-bottom: 16px;
  }
  &__button {
    @include template__button;
  }
  &__image {
    border-radius: 50%;
    width: 445px;
    height: 445px;
  }
}
@media (max-width: 1100px) {
  .urban {
    padding-top: 120px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 356px;
      height: 151px;
      top: 100px;
      left: 0;
      background-image: url("../../icons/urban__vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 95px;
      height: 445px;
      top: 120px;
      left: 0;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(180deg);
    }
    &__container {
      @include df-row-reverse-between-center;
    }
    &__left-box {
      @include df-column-center-start;
      gap: 24px;
    }
    &__title {
      width: 445px;
      text-align: start;
      font-family: "Space Mono";
      font-size: 48px;
      font-weight: bold;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__text {
      width: 445px;
      text-align: start;
      font-family: "Lexend Deca";
      font-size: 15px;
      line-height: 25px;
      font-weight: normal;
      letter-spacing: 0px;
      color: $dim__grey;
      margin-bottom: 16px;
    }
    &__button {
      @include template__button;
    }
    &__image {
      border-radius: 50%;
      width: 445px;
      height: 445px;
    }
  }
}
@media (max-width: 1024px) {
  .urban {
    padding-top: 120px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 355px;
      height: 151px;
      top: 150px;
      left: 0;
      background-image: url("../../icons/urban__tb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 95px;
      height: 445px;
      top: 120px;
      right: 0;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 38px;
      padding-right: 38px;
      @include df-column-reverse-center-center;
      gap: 56px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 40px;
    }
    &__title {
      width: 457px;
      text-align: center;
      font-family: "Space Mono";
      font-size: 48px;
      font-weight: bold;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__text {
      width: 573px;
      text-align: center;
      font-family: "Lexend Deca";
      font-size: 15px;
      line-height: 25px;
      font-weight: normal;
      letter-spacing: 0px;
      color: $dim__grey;
      margin-bottom: 0px;
    }
    &__button {
      @include template__button;
    }
    &__image {
      border-radius: 50%;
      width: 445px;
      height: 445px;
    }
  }
}
@media (max-width: 767px) {
  .urban {
    padding-top: 120px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 348px;
      height: 151px;
      top: 70px;
      left: 0;
      background-image: url("../../icons/urban__mb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      position: absolute;
      content: "";
      display: none;
      width: 72px;
      height: 445px;
      top: 145px;
      right: 0;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      @include df-column-reverse-center-center;
      gap: 56px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 32px;
    }
    &__title {
      width: 100%;
      text-align: center;
      font-family: "Space Mono";
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
      letter-spacing: -1.43px;
      color: $dark__navy;
    }
    &__text {
      width: 100%;
      text-align: center;
      font-family: "Lexend Deca";
      font-size: 15px;
      line-height: 25px;
      font-weight: normal;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__image {
      border-radius: 50%;
      width: 311px;
      height: 311px;
    }
  }
}